
Hello #{@physician.name},

#{@pharmacist.name} at #{@pharmacy.name} sent you the following message via Digiscript:

=====================================

= @message.body



Thank you for choosing Digiscript.
