#patient_ac_item.hidden  
  .profile-info.section._inline                          
    .row
      .col-md-12
        ._section._col-a
          %span.name
            %span.__name
        ._section._col-b        
          %span
            %span._age
              %span.__age._value  
              %span._label
                Y/O
            %span.bump._gender.__gender_abbrev 
        ._body._col-c
          .row
            .col-md-6.col-sm-6.col-xs-6
              .ellipsis
                %span.__address_street_1
              .ellipsis  
                %span.__address_street_2
            .col-md-6.col-sm-6.col-xs-6.has-border
              .ellipsis
                %span.__phone_primary
              .ellipsis
                %span.__email_primary 
          
          