- content_for :page_title do
  New Pharmacy 
    
- content_for :page_header do
  .col-md-12.col-sm-12.col-xs-12
    .section
      ._section
        %span.name New Pharmacy

.row
  .col-md-12    
    ._medium
      = render 'form'