export LOCAL_SUBNET="10.0.0.0/8"
export POSTMARK_KEY="eb2b4808-81fb-4404-9429-0de35063dae7"
export TWILIO_NUMBER="+16788094799"
export ASSET_HOST="127.0.0.1:3000"
export STRIPE_SECRET_KEY="sk_test_QKi5cLDhv3dRie3zNJfejkMk"
export STRIPE_PUBLISHABLE_KEY="pk_test_Sx8myCnIF4ylNfWxr6DJEplP"
