- content_for :client_class, '_page-medium'

- content_for :page_title do
  Add a Location
    
- content_for :page_header do
  .col-md-12.col-sm-12.col-xs-12
    .section
      ._section
        %span.name Add a Location

.row
  .col-md-12    
    ._medium
      = render 'form'
