._no-script
  ._wrap
    ._logo
      = image_tag 'logo_lg.svg', "data-svg-fallback" => image_path('logo_lg.png'), :style => "width: 200px; max-width: 100%;"
    %h1.title Enable Javascript
    %p
      Please enable Javascript in your web-browser before attempting to use this website. 