.row
  .col-md-6.col-xs-12
    .x_panel
      .x_title
        %h2
          Change Password
          %small Change your existing password here.
        .clearfix
      .x_content
        %br/
        = form_for @patient, url: changed_password_patient_dashboard_index_path do |f|
          .col-md-12.form-group.has-feedback
            = f.password_field :old_password, :class => "required form-control", :autocomplete => "off", :placeholder => "Old Passowrd goes here"
            %span.fa.fa-key.form-control-feedback.right{"aria-hidden" => "true"}
          .col-md-12.form-group.has-feedback
            = f.password_field :password, :class => "required form-control", :autocomplete => "off", :placeholder => "New Passowrd goes here"
            %span.fa.fa-key.form-control-feedback.right{"aria-hidden" => "true"}
          .col-md-12.form-group.has-feedback
            = f.password_field :password_confirmation, :class => "required form-control", :autocomplete => "off", :onblur => "confirmPass()", :placeholder => "Confirm New Password goes here"
            %span.fa.fa-key.form-control-feedback.right{"aria-hidden" => "true"}
          .ln_solid
          .form-group
            .col-md-9.col-sm-9.col-xs-12.col-md-offset-3
              %a.btn.btn-primary{:href => "dashboard.php"} Cancel
              %button.btn.btn-success{:name => "change", :type => "submit", :value => "change"} Change Password!
