#prescription-print-template
  #dg-prescription-print.modal._persistent.fade
    .modal-dialog
      .modal-content
        ._controls
          .container-fluid
            .row
              .col-md-12           
                .section._highlight
                  ._section
                    .container-fluid
                      .row
                        .col-md-6
                          .title
                            RX #17H12G25
                        .col-md-6
                          .sub-title
                            Aug 3rd 2015
        ._contents
          .container-fluid
            .row
              .col-md-12
                .profile-info.section
                  ._section
                    .row
                      .col-md-8
                        %h3.pl Mary Taylor
                        %span.pr
                          %span.bump._gender F
                          %span._age 42 Y/O
                        
                  ._body
                    .row
                      .col-md-8
                        .focused
                          .row
                            .col-md-6.col-xs-12
                              4 Tennis Ave
                              %br/
                              St. Andrew, Jamaica
                            .col-md-6.col-xs-12.has-border
                              %div
                                876 922 5612
                              %div
                                mary.taylor@gmail.com                   
            
            .row
              .col-md-12
                .section
                  ._body             
                    %table.table
                      %tbody
                        %tr
                          %td Name Posology Dose P0 TDS 1/52
                        %tr
                          %td Name Posology Dose P0 TDS 1/52
                        %tr
                          %td Name Posology Dose P0 TDS 1/52                          

                                
            .row
              .col-md-10
                .section
                  ._body 
                    ._notes
                      %p._small
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                   
            .row
              .col-md-12
                .section
                  ._body
                    ._destination
                      SENT TO 
                      %strong MANOR PARK PHARMACY 
                      (PH#1028)
                      %br
                      MONDAY, AUGUST 3RD, 2015 - 6:31PM 
                        
            .row
              .col-md-5
                .profile-info.section
                  ._fc-wrap
                    %h3 by Dr. James Core
                    %div
                      reg # 162512722
            .row                          
              .col-md-7
                .section                        
                  ._body
                    .row
                      .col-md-12
                        .focused
                          .row
                            .col-md-6.col-xs-12
                              4 Tennis Ave
                              %br/
                              St. Andrew, Jamaica
                            .col-md-6.col-xs-12.has-border
                              %div
                                876 922 5612
                              %div
                                mary.taylor@gmail.com            
            .row
              .col-md-12
                .section
                  ._section
                    %a.action._large._cover._active
                      Validate Online
                    
            .row
              .col-md-5.col-md-offset-1
                .section
                  ._body
                    ._url-presc visit: speedy.sc/61y2h
                      
              .col-md-4
                .section
                  ._body 
                    ._pin-presc
                      %strong
                        PIN # 378
                        
            .row
              .col-md-6.col-md-offset-3
                .section
                  ._section
                    #qr-presc 
                      QR CODE GOES HERE
                
              
                                
                                      
    