<div class="modal fade" id="newTitle" tabindex="-1" role="dialog" aria-labelledby="newTitleLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newTitleLabel">RESULTS FOR #LUJRUWPF</h4>
      </div>
      <div class="modal-body">          
            <div class="form-group">
              <label for="resume" class="control-label">Physician Name: Tiger Nixon</label>
            </div>
            <div class="form-group">
              <label for="resume" class="control-label">Laboratory Name: Leslie's Lab</label>
            </div>

            <div class="form-group">
              <label for="resume" class="control-label">Fetch data from Physician Panel -> Diagnostic -> Search for Bob (Filter for Reviewed) and select all data which shows under Request#. You can display according to your conveniency</label>
            </div>   

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="applyNow" name="AddTitle" value="AddIt">Access&nbsp;Product</button>
      </div>
    </div>
  </div>
</div>
