%p{:style => "margin-top: 10px;line-height: 1.3;"}
  Hello
  %span{:style => "text-transform: capitalize"} #{@subscriber.firstname},
  
%p{:style => "line-height: 1.3; margin-bottom: 15px;"}
  Your payment of 
  %strong #{ number_to_currency @payment.amount } (USD)
  for a
  %strong 3 month
  subscription
  of a 
  %strong Digisripts Physician account
  has failed.                                                      
  
%p{:style => "line-height: 1.3; margin-bottom: 15px;"}    
  Please ensure that your credit card information is up to date then click the renew subscription button under on your subscription page to select a new subscription.
  
%p{:style => "line-height: 1.3;"}
  %strong Digiscriptsja.com   
  
