.modal-ready
  #tech-diagnostic-template._template
    = render :partial => 'partials/modals/technician/diagnostic' 
  #tech-message-template._template._remove
    = render :partial => 'partials/modals/technician/message'    
  #tech-upload-wrapper
    = render :partial => 'partials/modals/technician/upload'          